В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult)

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("/Users/aleksejshevcenko/Documents/BMSTU/Semester_4/parallel_and_disctributing_calculation/parallel-and-distributed-computing/iu1-2-course-2023/лабы/data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [13]:
print('All: ')
print(data[data['sex'] == 'Male'].age.count() + data[data['sex'] == 'Female'].age.count())
print()

print('Male: ')
print(data[data['sex'] == 'Male'].age.count())
print()

print('Female: ')
print(data[data['sex'] == 'Female'].age.count())

All:
32561

Male:
21790

Female:
10771

**2. Каков средний возраст (признак *age*) женщин?**

In [12]:
count = data[data['sex'] == 'Female'].age.count()
sumAge = data[data['sex'] == 'Female'].age.sum()
print(sumAge / count)

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [10]:
allCount = data.age.count()
print(data.shape[0])
germanyCount = data[data['native-country'] == 'Germany'].age.count()
print(germanyCount / allCount * 100)

32561
0.42074874850281013

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [11]:
print('<=50K')
print(data[data['salary'] == '<=50K'].age.std())
print(data[data['salary'] == '<=50K'].age.mean())

print('>50K')
print(data[data['salary'] == '>50K'].age.std())
print(data[data['salary'] == '>50K'].age.mean())

<=50K
14.020088490824813
36.78373786407767
>50K
10.51902771985177
44.24984058155847

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [9]:
enumEdu = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate' ]

countSalary = data[data['salary'] == '>50K'].education.count()
print(countSalary)
# HightEducationBachelors = data[data['salary'] == '>50K'].education == 'Bachelors'
# HightEducationProf_school = data[data['salary'] == '>50K'].education == 'Prof-school'
# HightEducationAssoc_acdm = data[data['salary'] == '>50K'].education == 'Assoc-acd'
# HightEducationAssoc_voc = data[data['salary'] == '>50K'].education == 'Assoc-voc'
# HightEducationMasters = data[data['salary'] == '>50K'].education == 'Masters'
# HightEducationDoctorate = data[data['salary'] == '>50K'].education == 'Doctorate'

data[data['salary'] == '>50K'].education.isin(enumEdu).sum()

7841

4535

In [90]:
data[(data['salary'] == '>50K')].shape[0] == data[(data['salary'] == '>50K')&(data.education.isin(enumEdu))].shape[0]

False

In [94]:
data[(data['salary'] == '>50K')].shape[0]

7841

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [120]:
print(data.groupby(['race']).age.describe())
print()
print('================================================================================')
print(data.groupby(['sex']).age.describe())
print()
print('================================================================================')
print(data.groupby(['race', 'sex']).describe()['age'])

                      count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0

================================================================================
          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

================================================================================
                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [4]:
enumMarried = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']

isMarried = data[(data['sex'] == 'Male') & (data['marital-status'].isin(enumMarried))].age.count()
isNotMarried = data[(data['sex'] == 'Male')].age.count() - isMarried

print('Is married: ', isMarried)
print('Is not married: ', isNotMarried)
if isMarried > isNotMarried:
    print('Married')
else: 
    print('Not married')

Is married:  13541
Is not married:  8249
Married

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [49]:
maxTime = max(data['hours-per-week'])
max_time_work = data[data['hours-per-week'] == maxTime].age.count()
countPerson = data[(data['hours-per-week'] == maxTime) & (data['salary'] == '>50K')].age.count()
print('Max time hourse: ', maxTime)
print('Person count', max_time_work)
print('Person count many 50K: ', countPerson)

Max time hourse:  99
Person count 85
Person count many 50K:  25

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [61]:
data.groupby(['native-country', 'salary'])['hours-per-week'].mean()

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64